Repository 00mjk/boundary-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gsusmi, @randallmorey, @calcaide, @DhariniJeeva, @cameronperera, @ZedLi, @dvonanderson, @joshuaogle

test: test
  ui/admin/app/routes/account/change-password.js
  ui/admin/app/styles/app.scss
Owners: @randallmorey, @cameronperera, @ZedLi, @joshuaogle

Update docs for addons/auth
  addons/auth/README.md
  addons/auth/package.json
Owners: @gsusmi, @randallmorey, @calcaide, @DhariniJeeva, @cameronperera, @ZedLi, @dvonanderson

docs: ✏️ Update docs for addons/api
  addons/api/README.md
  addons/api/package.json
Owners: @gsusmi, @randallmorey, @calcaide, @DhariniJeeva, @cameronperera, @ZedLi, @dvonanderson

refactor: 💡 Update docs & yarn scripts for addons/core
  addons/api/package.json
  addons/auth/package.json
  addons/core/README.md
  addons/core/addon/components/form/authenticate/index.hbs
  addons/core/package.json
Owners: @gsusmi, @randallmorey, @calcaide, @DhariniJeeva, @cameronperera, @ZedLi, @dvonanderson

test: desktop change
  ui/desktop/README.md
Owners: @calcaide, @DhariniJeeva, @dvonanderson

WIP: welcome onboarding
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/form/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/dummy.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/dummy.hbs
  ui/admin/tests/unit/routes/dummy-test.js
Owners: @gsusmi, @randallmorey, @calcaide, @DhariniJeeva, @cameronperera, @ZedLi, @dvonanderson, @joshuaogle

.github/CODEOWNERS:

# Anyone attached to this rule will always been assigned to a pull request
* @gsusmi @randallmorey @calcaide @DhariniJeeva @cameronperera @ZedLi @dvonanderson

# Anyone attached to this rule will be assigned if the admin ui has been changed
/ui/admin @randallmorey @cameronperera @ZedLi

# Anyone attached to this rule will be assigned if the desktop client has been changed
/ui/desktop @calcaide @DhariniJeeva @dvonanderson

# Anyone attached to this rule will be assigned if a styles file is changed
*.scss @joshuaogle
