Repository 00mjk/boundary-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: addons, api-addon, auth-addon, styles-addon, ui, admin, desktop

.github/labeler.yml:

addons:
  - addons/**/*

api-addon:
  - addons/api/**/*

auth-addon:
  - addons/auth/**/*

styles-addon:
  - addons/rose/**/*

ui:
  - ui/**/*

admin:
  - ui/core/**/*

desktop:
  - ui/desktop/**/*

fix: 🐛 Mac os window lifecycle
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

test: test
  ui/admin/app/routes/account/change-password.js
  ui/admin/app/styles/app.scss
Labels: ui

Update docs for addons/auth
  addons/auth/README.md
  addons/auth/package.json
Labels: addons, auth-addon

docs: ✏️ Update docs for addons/api
  addons/api/README.md
  addons/api/package.json
Labels: addons, api-addon

refactor: 💡 Update docs & yarn scripts for addons/core
  addons/api/package.json
  addons/auth/package.json
  addons/core/README.md
  addons/core/addon/components/form/authenticate/index.hbs
  addons/core/package.json
Labels: addons, api-addon, auth-addon

test: desktop change
  ui/desktop/README.md
Labels: ui, desktop

WIP: welcome onboarding
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/form/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/dummy.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/dummy.hbs
  ui/admin/tests/unit/routes/dummy-test.js
Labels: addons, ui
